*{
    margin: 0;
    padding:0;


}






body{
    background:url(bg.jpg) no-repeat center center fixed;
    background-size: cover;


}

.container{
    border: 12 px solid black;
    color:antiquewhite;
    position:absolute;
    top:45%;
    left:40%;
    margin-bottom: 43px;
    padding: 013;

}
.box{
    width:100%;
    border: 2px;  solid: purple;
      .btn{
        cursor: pointer;
        outline: none;
        width: 25%;
        margin:12px 0;
        padding : 6px ;
        border radius: 6px ;












    }






}